<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
</head>
<body>
    <h1>Welcome Aboard, Buddy</h1>
    <br>
    <br>
    <!-- <input type="text" name="username" placeholder="Username"> -->
    <br><br>
    <button name="login" onclick="location.href='/login'">Login</button>
    <button name="register" onclick="location.href='/register'">Register</button>

<style>
    *{
        text-align: center;
    }
</style>
</body>
</html>